/* customizable snowflake styling */
#play {
    position: absolute;
    top: 15%;
    right: 10%;
    width: 188px;
    height: 188px;
    position: fixed;
    transform: translateY(-50%);
    transform: translateX(-50%);
    background: center no-repeat #D05353;
    z-index: 9999999999999999999999;
    font-size: 34px;
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: normal;
    outline: none;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    text-transform: uppercase;
    color: whitesmoke;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-size: 100% 100%;
    background-position: center;
}

/* .golden-btn:focus,
.golden-btn:hover {
    background-size: 150% 150%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
        inset 0 -2px 5px 1px #b17d10,
        inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    border: 1px solid rgba(165, 93, 7, .6);
    color: rgba(120, 50, 5, .8);
}

.golden-btn:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(110, 80, 20, .4),
        inset 0 -2px 5px 1px #b17d10,
        inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
} */

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/start_bg.png);
    background-size: cover;
}

.song {
    display: none;
}

body {
    background-color: rgba(184, 114, 114, 0.2);
    overflow: hidden;
    height: 100vh;
}

img {
    width: 100%;
}

.balloon-border {
    position: fixed;
    top: 100%;
    opacity: 0.5;
    z-index: 99999999;
}

@keyframes spin {
    0% {
        transform: rotateZ(0);
    }

    25% {
        transform: rotateZ(10deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    75% {
        transform: rotateZ(-10deg);
    }
}

.type-wrap {
    font-size:27px;
    color: #C4515C;
    font-family: 'Montserrat', sans-serif;
}

.cake {
    display: flex;
    margin: auto;
}

#main {
    display: flex
}

.page {
    width: 47%;
    display: flex;
}

#main_bg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(70%)
}

#name {
    color: #7A2A31;
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


@media (min-width: 1920px) {
  .cake {
  width: 700px;
  }
}

@media (max-width: 1920px) {
  .cake {
  width: 500px;
  }
}